<%- include('../partials/header') %>
<h1>Observation Details</h1>
<h2><%= observation.location %></h2>
<p>User: <%= observation.user %></p>
<p>Feels: <%= observation.feelsLike %></p>
<a href="/observations/<%= observation._id %>/edit">Edit</a>
<form
  action="/observations/<%= observation._id %>?_method=DELETE"
  method="POST"
>
  <button>Delete</button>
</form>
<a href="/observations">All Observations</a>
<%- include('../partials/footer') %>
