<%- include('../partials/header') %>
<h1>Edit Observation</h1>
<form action="/observations/<%= observation._id %>?_method=PATCH" method="POST">
  <div>
    <label for="user">User</label>
    <input
      type="text"
      id="user"
      name="observation[user]"
      required
      value="<%= observation.user %>"
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="observation[location]"
      required
      value="<%= observation.location %>"
    />
  </div>
  <div>
    <label for="feelsLike">Feels Like</label>
    <input
      type="text"
      id="feelsLike"
      name="observation[feelsLike]"
      required
      value="<%= observation.feelsLike %>"
    />
  </div>
  <button>Update</button>
</form>
<a href="/observations/<%= observation._id %>">Cancel</a>
<%- include('../partials/footer') %>
